@model List<TrainerViewModel>
@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="row">
        @foreach (var t in Model)
        {
            <div class="col-md-3">
                <div class="card pt-3">
                    <img src="~/images/@t.ImageUrl" class="card-img-top trainer-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@t.Name</h5>
                        <p class="card-text">@t.Properties</p>
                        <p class="card-text">@t.Price</p>
                        <a
                            asp-area=""
                            asp-controller="Home"
                            asp-action="GetById"
                            asp-route-id="@t.Id"
                            class="btn btn-primary">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




@* Link verme kısmında bir kere href kısmını sileriz.tag helperlardan
yardım alıcaz.Program.Cs te verilmiş yapıya uygun bir şekilde(Generic 
hazırlanmış route kısmı.)Döngü içinde old.unutma!C# kodu için de et koy önce.
id yazma sebebim de program cs.içinde MApContRoute yapısın da o şekilde veril
miş olması 
//Debug işlemi;
*@











@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>   //usingini Wiew import doyasına ekle.

//foreach içinde gelen ismi p Model(bizim için buraya gelen verinin modelin
aşd kullanılabilmesi için keyywor büyük M ile başlayan Model dir. )
 *@