<h1>Admin Panel Ana Sayfası</h1>



<!--Aresın özel bir anlamı var ve ona göre bir link yapısı oluşturucaz.
    Programcs içine bir tane daha route yapısı oluşturucaz.Ondqan sonra aynı 
    endpoint var aynı isimle eşleşen çalışan route yapısp problemi var diyor;
    Diğerinin Admin olarak old söylememiz yeterli.Admin için deki Home controller
    içinde classımızın üstüne köşeli parantez açı(Mvc de attribute deniyor)Home
    controllerı bir attribte özellik nitelik tanımlamış oluyorum.
    Tanımlayacağım attribute Area("area name i yazılır")

-->