@model List<TrainerViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var t in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img src="~/images/@t.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@t.Name</h5>
                        <p class="card-text">@t.Properties</p>
                        <p class="card-text">@t.Price</p>
                        <a href="#" class="btn btn-primary">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
















@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>   //usingini Wiew import doyasına ekle.

//foreach içinde gelen ismi p Model(bizim için buraya gelen verinin modelin
aşd kullanılabilmesi için keyywor büyük M ile başlayan Model dir. )
 *@