<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a>
    </li>


    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Back" asp-action="Index">Geri dönüşler</a>
    </li>


    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Sayfası</a>
    </li>

</ul>




<!--Ne zaman modeli eklemek gerekiyor?
    Dışarıdan bir veri geliyorsa eklemem gerekiyor.
    Bunu Layout'dan kestiğim yere gidip bunu kestiğim yerden çağırmam gerekiyor
    et await Html.. dye ekle. Bunu yapınca görüntünün değişmemesi gerekiyor.(
    Home'a tıklayınca anasysafa açılıyor)
    Farklı bir controller burda oluşturucaz Admin için.Hem de artık Asp-Area
    yı kullanıcaz


 
    Trainers kısmından sonrakilere dikkat.
-->